body {
  background: linear-gradient(to left, red, yellow);
}

h1 {
  text-align: center;
  font-size: 3.0em; /*1em = 16px, default font size. Allows resize of fonts through browser menu*/
  color: rgba(128, 0, 0, 0.8);
  font-family: sans-serif;
}

p.one {
  text-align: center;
}

img { /*for the image element. 17-19 to make the image center align*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  background: red;
  padding: 10px;
  border: 1px solid black;
}

li {
  margin-left: 20px;
}
