body {
  background-color: ivory;
  margin-left: 10px;
}

h1 {
  text-align: centre;
  font-size: 25px;
  color: rgb(152, 184,random(255));
}

ul {
  background: red;
  padding: 10px;
  border: 1px solid black;
}

li {
  margin-left: 20px;
}
